@model ResultVM

<div style="font-size:35px; color:@Model.Color">

    <p>Name : @Model.TraineeName</p>

    <p>Course : @Model.CourseName</p>

    <p>Degree : @Model.Degree</p>

    <p>Status : @Model.Status</p>

</div>