@model List<WebApplication2.Models.instructor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                </tr>
            }
        }
    </tbody>
</table>
<a href="/instructor/New">ADD Instructor To List</a>